body{
    margin: 0;
    padding: 0;

    background-color: #f6f6f6;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}

.fix{
    overflow: hidden;
    clear: both;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-color: #002c65;
    width: 100%;
}

.header .logo{
    width: 30%;
}
.header .title{
    width: 40%;
}
.header .right{
    width: 30%;
}

.navbar{
    padding: 20px 0;
}


.navbar .logout {
    background-color: #e74c3c;
    /* Red color for the button */
    color: white;
    /* Text color */
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

/* Hover effect for the button */
.navbar .logout:hover {
    background-color: #c0392b;
    /* Darker red on hover */
}
.navbar .logo img{
    width: 50px;
}
.content{
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;;
    
}

/* Style the table header */
th {
    text-align: center;
}

/* Style the table header and data cells */
th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

/* Style alternate rows with a different background color */
tr:nth-child(even) {
}

.product .cart{
    width: 20px;
}
.product .action{
    width: 80px;
}

.shopping .qty{
    width: 200px;
}
.shopping input{
    width: 100px;
}

.text-white{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.content .place {
    background-color: #002c65;
    /* Red color for the button */
    color: white;
    /* Text color */
    border: none;
    padding: 7px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Hover effect for the button */
.content .place:hover {
    background-color: #c0392b;
    /* Darker red on hover */
}